body{background-color: rgb(226, 43, 144);
}
widh
h1{text-align: center;
    border-color:rgb(238, 29, 144) ;
    
}
h2{border-style: double;
border-color: rgb(255, 0, 98);
border-width: 40px;
 }
 h3 {text-decoration: overline;
border-style: double;
border-color: rgb(238, 29, 144);
font-size: 200%;}
 header {width: 20%;}